body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family:'Raleway', Sans-serif;
}
.nav-item a.nav-link.active {
    font-size: 20px;
    font-weight: 500;
    transition: transform 0.5s ease, color 0.3s ease;
    
}
.navbar-brand img {
    transition: transform 0.3s ease, filter 0.3s ease;
  }
.nav-link:hover{
  color: orange !important; 
  transform: translateY(10px);
  overflow:hidden;
}
.navbar-brand img:hover {
    transform: scale(1.1);
}
.custom_button{
  font-family: 'Raleway', Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fcae17;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 40px 10px 40px;
  width: 250px;
  margin-top: 20px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.custom_button a{
  color: black;
  text-decoration: none;
}

.custom_button:hover {
  background-color: transparent;
  border-color: #fcae17;
  color: #fcae17;
  transform: scale(1.1);
}
.custom_button:hover a {
  color: #fcae17;
}

.article_item{
  background-color: white;
  border-radius: 20px;
  margin: 80px;
  height: 510px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 2em;
  border: 2px solid #fff;
  border-radius: 25px;
}